################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/obj
/packages
/.vs
/Horego.BurstPlotConverter.csproj.user
/Properties/launchSettings.json
/Properties/PublishProfiles/DotNetCore.pubxml.user
/Properties/PublishProfiles/DotNet461.pubxml.user
