<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="File" xsi:type="File"
              fileName="Logs\${processname}_Log.txt"
              archiveFileName="Logs\${processname}.{#####}_Log.txt"
              layout="${longdate} ${level:uppercase=true:padding=-6} ${event-context:item=Indent}${event-context:item=Class}:${event-context:item=Method} ${message} ${exception:ToString}"
              archiveAboveSize="1048576"
              archiveNumbering="Sequence"
              concurrentWrites="true"
              keepFileOpen="false"
              autoFlush ="true" />
      <target name="Console" xsi:type="Console"
              layout="${message} ${exception:format=Message}" />
    </targets>
    <rules>
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="File" />
      <logger name="*" levels="Fatal,Error,Warn,Info,Debug,Trace" writeTo="Console" />
    </rules>
  </nlog>
</configuration>
